{% extends 'school/homebase.html' %}
{% block content %}
<br>
<br>
<div class="container-fluid p-0 d-flex justify-content-end" style="margin-bottom:0px;">
  <div class="text-right p-5 text-light" style="background:rgba(12,12,12,0.5)">
  <h1 class="display-4 ">if you are looking <br> for employees</h1>
  <p class="lead">Be a recruiter and find you employees</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="recrutersignup" role="button">sign up</a>
    <a class="btn btn-primary btn-lg" href="recruterlogin" role="button">Login</a>
  </p>
    </div>
</div>
{% endblock content %}

