<!DOCTYPE html>

{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Register Student</title>
  <style type="text/css">
    body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
  </style>

</head>


<body>
  {% include "school/navbar.html" %}
  <br>
  <br>
  <br>
  <br>





  <form method="post">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Register your account and search for jobs</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                {% render_field form2.image class="form-control"  %}
              </div>
              <div class="form-group">
                {% render_field form1.first_name class="form-control" placeholder="First Name" %}
              </div>
              <div class="form-group">
                {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
              </div>
              <div class="form-group">
                {% render_field form1.email class="form-control" placeholder="Email" %}
              </div>
              <hr>
              <h4>college information</h4>
              <div class="form-group">
                {% render_field form2.college class="form-control" placeholder="Collage name" %}
              </div>

              <div class="form-group">
                {% render_field form2.education class="form-control" placeholder="Education" %}
              </div>
               <div class="form-group">
                {% render_field form2.university class="form-control" placeholder="University" %}
              </div>
              <div class="form-group">
                {% render_field form2.college_aggregate class="form-control" placeholder="aggregate" %}
              </div>
              <div class="form-group">
                {% render_field form2.college_year_of_passing class="form-control" placeholder="year of passing" %}
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form1.username class="form-control" placeholder="Username" %}
              </div>
              <div class="form-group">
                {% render_field form1.password class="form-control" placeholder="Password" type="password" %}
              </div>

                <div class="form-group">
                {% render_field form2.mobile class="form-control" placeholder="Mobile" %}
              </div>
              <hr>
              <h4>school details</h4>
              <div class="form-group">
                {% render_field form2.school class="form-control" placeholder="school name" %}
              </div>
              <div class="form-group">
                {% render_field form2.school_aggregate class="form-control" placeholder="aggregate" %}
              </div>
              <div class="form-group">
                {% render_field form2.school_year_of_passing class="form-control" placeholder="year of passing" %}
              </div>
              <h4>HSC details</h4>
              <div class="form-group">
                {% render_field form2.hsc class="form-control" placeholder="HSC name" %}
              </div>
              <div class="form-group">
                {% render_field form2.hsc_aggregate class="form-control" placeholder="aggregate" %}
              </div>
              <div class="form-group">
                {% render_field form2.hsc_year_of_passing class="form-control" placeholder="year of passing" %}
              </div>
            </div>
          </div>
          <button type="submit" class="btnSubmit">Join </button>
          <div class="text-center">Already have an account? <a href="studentlogin">Login here</a></div>
        </div>
      </div>
    </div>

  </form>








</body>

</html>
